<app-header></app-header>
<section class="py-3" >
    <div class="container px-4 px-lg-5 my-5" >
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" 
                src={{dish.image}}  alt="..." /></div>
            <div class="col-md-6">
                <!-- <div class="small mb-1">Product Id:{{dish.id}} </div> -->
                <h1 class="display-5 fw-bolder">{{dish.name}}</h1>
                <h3>{{dish.category}}</h3>
                <div class="fs-5 mb-5">
                    <span> <b>ingredients:</b>{{dish.ingredients}}</span>
                </div>
                <div class="fs-5 mb-5">
                    <span><b>instruction:</b> {{dish.instruction}}</span>
                </div>
                <div class="fs-5 mb-5">
                    <span><b>preperation time:</b> {{dish.preptime}}</span><br>
                    <span><b>Cook time:</b> {{dish.cooktime}}</span>
                </div>
                <a href={{dish.youtube}} target="_blank">Youtube Link</a>
                <div class="d-flex justify-content-between">
                    <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-heart-circle-plus" style="color: #7c0937;"></i>
                        Add to wishlist
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-cart-shopping" style="color: #077005;"></i>

                        Add to cart
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</section>

